@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .nav-container {
        max-width: 100%;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav {
        width: 100%;
        height: 80px;
        max-height: 100%;
        background: #fff;
        border: solid 1px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo-text {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 60px;
        margin: 0 10px;
    }

    .logo-description {
        margin: 5px 0 0 0;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 12px;
    }

    .toggle {
        border: none;
        background: none;
        font-size: 40px;
        color: #000;
        margin: 0 20px;
        cursor: pointer;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 85px;
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 500px;

        left: 100%;
        transition: 0.3s;
    }

    .menu_visible {
        left: 0;
    }

    .link {
        list-style: none;
        padding: 5px 0;
        margin: 5px 0;
    }

    .nav-menu-link {
        text-decoration: none;
        font-family: sans-serif;
    }
}

@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .nav-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav {
        width: 100%;
        height: 80px;
        max-height: 100%;
        background: #fff;
        border: solid 1px rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo-text {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 60px;
        margin: 0 10px;
    }

    .logo-description {
        margin: 5px 0 0 0;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 12px;
    }

    .toggle {
        border: none;
        background: none;
        font-size: 40px;
        color: #000;
        margin: 0 20px;
        cursor: pointer;

        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .link {
        list-style: none;
        padding: 5px 0;
        margin: 5px 0;
    }

    .nav-menu-link {
        text-decoration: none;
        font-family: sans-serif;
        margin: 0 20px;
    }

    ::-webkit-scrollbar {
        background: #000;
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: #101010;
        border-radius: 10px;
      
        
    }
    
    ::-webkit-scrollbar-thumb{
        background: #00ffff;
        border-radius: 10px;
    }
}