* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.aside {
    width: 100%;

    text-align: center;
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    
}

aside {
    width: 100%;
    display: grid;
    grid-template-columns: 39% 59%;
}

.ConteForm{
    height: 550px;
}

.asideForm {
    display: inline-block;
    width: 100%;
}

.asideMap {
    display: inline-block;
    width: 100%;
    
    background-color: #202325;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

#Mapa {
    border-radius: 10px;
}

#ContactoForm {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 1.3;
}

#TxtForm {
    margin-bottom: 15px;
}

fieldset,
.Input,
.Texarea {
    background-color: #202325;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #202325;
}

.Input,
.Texarea {
    background-color: #FFFFFF;
    color: #202325;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    height: 30px;
    margin-bottom: 10px;


}

input,
textarea {
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #a8a7ab;
    color: #33B0F2;
}

#BotonEnviarConsulta {
    background-color: #33B0F2;
    color: #FFFFFF;
    height: 35px;
    border: #33B0F2;

}

/* //////////////// */

@media only screen and (max-width: 1300px) {
    aside {
        grid-template-columns: 49% 49%;
    }

}

@media only screen and (max-width: 850px) {
    aside {
        display: block;
    }
    .asideMap {
        width: 95%;
    }

}